.catalog {
  width: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: inherit;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #666;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-family: Exo, Arial, sans-serif;;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

.catalog__list {
  width: inherit;
}

.catalog__item {
  width: 100%;
  max-width: 320px;
  max-height: 513px;
  margin: 0 auto 50px;
}

.catalog__item-card {
  border: 2px solid #1698d9;
  border-radius: 10px;
  color: #666666;
  background-color: #f2f2f2;
  height: 480px;
  margin-bottom: 15px;
  display: block;
  cursor: pointer;
}

.catalog__item--selected .catalog__item-card {
  border-color: #d91667;
}

.catalog__item--disabled .catalog__item-card {
  border-color: #b3b3b3;
}

.catalog__item-note {
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}


.catalog__item-note--disabled {
  color: #ffff66;
}

.catalog__item .catalog__item-note--selected,
.catalog__item .catalog__item-note--disabled,
.catalog__item--selected .catalog__item-note--disabled,
.catalog__item--disabled .catalog__item-note--selected,
.catalog__item--selected .catalog__item-note,
.catalog__item--disabled .catalog__item-note {
  display: none;
}

.catalog__item--selected .catalog__item-note--selected,
.catalog__item--disabled .catalog__item-note--disabled {
  display: block;
}

.catalog__btn-text {
/*  outline: none;*/
  border: 0;
  background-color: transparent;
  padding: 0;
  padding-bottom: 1px;
  color: #1698d9;
  font-weight: bold;
  border-bottom: 1px dashed #1698d9;
  cursor: pointer;
}

@media (min-width: 720px) {
  .catalog__list {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .catalog__item {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .catalog__item:first-child {
    margin-right: 6.25%;;
  }
}

@media (min-width: 1200px) {
  .catalog {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .catalog__list {
    max-width: 1120px;
  }

  .catalog__item {
    margin-right: 6.25%;
    margin-bottom: 0;
  }

  .catalog__item:last-child {
    margin-right: 0;
  }
}


